<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/seller_detail_item.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/seller-detail.js"></script>
    <script src="/js/header.js"></script>

    <title>Title</title>



</head>
<body>
<div th:replace="fragments/header :: menu1">메뉴1부분</div>

<div th:replace="fragments/header :: menu2">메뉴2부분</div>

<div class="store-wrapper">
    <div class="profile-container">
        <div class="profile-details">
            <div class="profile-image-section">
                <div class="profile-image-wrapper">
                    <div class="profile-image-box">
                        <div class="profile-image-inner">
                            <div class="profile-image-content">
                                <div th:if="${sellerDetailDto.getSellerImgUrl() != 'NoImage'}" th:attr="style='background-image: url(' + ${sellerDetailDto.getSellerImgUrl()} + ');'" class="profile-image-before">::before</div>
                                <div th:if="${sellerDetailDto.getSellerImgUrl() == 'NoImage'}" class="profile-image-before default-profile-image">::before</div>
                            </div>
                            <div class="profile-info">
                                <img th:if="${sellerDetailDto.getSellerImgUrl() != 'NoImage'}" th:src="${sellerDetailDto.getSellerImgUrl()}" class="profile-image" width="100" height="100" alt="판매자 프로필 이미지">
                                <img th:if="${sellerDetailDto.getSellerImgUrl() == 'NoImage'}" src="/image/basic_profile_image.png" class="profile-image" width="100" height="100" alt="기본 프로필 이미지">
                                <div class="rating-container"></div>
                                <div class="rating-stars">
                                    <span th:unless="${sellerDetailDto.getAvgReviewScore() == 0}" th:each="star : ${#numbers.sequence(1, sellerDetailDto.getAvgReviewScore())}">
                                        <img src="/image/rating_star.png" width="15" height="14" alt="별점 이미지">
                                    </span>
                                    <span th:if="${sellerDetailDto.getAvgReviewScore() % 1.0 != 0}">
                                        <img src="/image/rating_star_half.png" width="15" height="14" alt="반 별점 이미지">
                                    </span>
                                    <span th:if="${sellerDetailDto.getAvgReviewScore() == 0.0}">
                                        <img src="/image/empty_rating_star.png" width="15" height="14" alt="빈 별점 이미지">
                                        <img src="/image/empty_rating_star.png" width="15" height="14" alt="빈 별점 이미지">
                                        <img src="/image/empty_rating_star.png" width="15" height="14" alt="빈 별점 이미지">
                                        <img src="/image/empty_rating_star.png" width="15" height="14" alt="빈 별점 이미지">
                                        <img src="/image/empty_rating_star.png" width="15" height="14" alt="빈 별점 이미지">
                                    </span>
                                </div>
                                <div class="profile-links-box">
                                    <a th:href="@{/seller/{sellerId}/items(sellerId=${sellerDetailDto.getSellerId()})}" class="profile-link">
                                        상품
                                        <b th:text="${sellerDetailDto.getTotalItemCount()}"></b>
                                    </a>
                                    <a href="" class="profile-link">
                                        거래완료
                                        <b th:text="${sellerDetailDto.getTransactionCount()}"></b>
                                    </a>
                                </div>
                                <div th:if="${sellerDetailDto.getSellerId() == uid}" class="manage-box"><a class="manage-link" href="/deal/manage">내 상품 관리</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-info-container">
                    <div class="profile-info-box">
                        <div class="seller-name" th:text="${sellerDetailDto.getSellerName()}">Seller Nickname</div>
                    </div>
                    <div class="seller-detail-box">
                        <div class="seller-detail">
                            <img src="/image/shop_open.png" width="14" height="13" alt="상점 오픈 아이콘">
                            판매시작일
                            <div class="days-ago" th:text="${sellerDetailDto.getSalesStartDate()}"></div>
                        </div>
                        <div class="seller-detail">
                            <img src="/image/sell_icon.png" width="14" height="13" alt="상품판매 아이콘">
                            상품판매
                            <div class="sold-count" th:text="${sellerDetailDto.getSellCount()}">transactionscount</div>
                        </div>
                    </div>
                    <div class="store-description" th:text="${sellerDetailDto.getIntroDescription()}">
                        store description
                    </div>
                    <div th:unless="${sellerDetailDto.getSellerId() == uid}" class="report-store">
                        <a th:href="@{/report/seller(uid=${sellerDetailDto.getSellerId()})}" class="report-link">
                            <img src="/image/report_icon.png" width="14" height="14" alt="신고하기 아이콘">
                            신고하기
                        </a>
                    </div>
                    <div th:if="${sellerDetailDto.getSellerId() == uid}" class="modify-mypage-box">
                        <button class="btn-modify-introduce" th:attr="data-user-id=${uid}">소개글 수정</button>
                        <button class="btn-modify-mypage">
                            <a th:href="@{/seller/mypage(userId=${sellerDetailDto.getSellerId()})}" class="mypage-link">
                                회원정보 수정
                            </a>
                        </button>
                    </div>
                    <div id="modify-container"\ class="hidden">
                        <div>
                            <textarea id="store-description-textarea" maxlength="1000"></textarea>
                            <span id="char-count">0/1000</span>
                        </div>
                        <button id="confirm-button" type="button">확인</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-container">
            <div class="nav-section">
                <div class="nav-link-list">
                    <a th:href="@{/seller/{sellerId}/items(sellerId=${sellerDetailDto.getSellerId()})}" class="product-tab">
                        상품
                        <span class="product-count" th:text="${sellerDetailDto.getTotalItemCount()}">itemcount</span>
                    </a>
                    <a th:href="@{/seller/{sellerId}/reviews(sellerId=${sellerDetailDto.getSellerId()})}" class="review-tab">
                        후기
                        <span class="review-count" th:text="${sellerDetailDto.getReviewCount()}">reviewcount</span>
                    </a>
                </div>
            </div>
            <div class="nav-content-box">
                <div class="nav-content">
                    <div class="product-category-section">
                        <div class="category-header">
                            상품
                            <span class="category-count" th:text="${sellerDetailDto.getTotalItemCount()}">itemcount</span>
                        </div>
<!--                        <div class="category-dropdown-box">
                            <div class="category-dropdown">
                                <div class="dropdown-title">
                                    전체
                                    <img src="/image/category_dropdown.png" width="10" height="6" alt="카테고리 선택 아이콘">
                                </div>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-category">식품</a>
                                    <a href="#" class="dropdown-category">패션</a>
                                    <a href="#" class="dropdown-category">전자기기</a>
                                    <a href="/" class="dropdown-category">생활/주방</a>
                                    <a href="#" class="dropdown-category">뷰티/미용</a>
                                    <a href="#" class="dropdown-category">도서</a>
                                    <a href="#" class="dropdown-category">티켓/교환권</a>
                                    <a href="#" class="dropdown-category">기타</a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div th:if="${sellerDetailDto.getSellerItemDtoList().size() == 0}" class="no-product" th:text="'등록된'+' 상품이 '+'없습니다'"></div>
                    <div th:if="${sellerDetailDto.getSellerItemDtoList().size() != 0}" class="product-sort-section">
                        <div class="sort-option-list">
                            <div class="sort-option">
                                <div class="total-box">
                                    <div>전체</div>
                                    <div class="total-count-box">
                                        <div class="total-count" th:text="${sellerDetailDto.getTotalItemCount()}">itemcount</div>
                                    </div>
                                </div>
   <!--                             <div class="sort-link-list">
                                    <a href="" class="sort-link">
                                        최신순
                                    </a>
                                    <a href="" class="sort-link">
                                        인기순
                                    </a>
                                    <a href="" class="sort-link">저가순</a>
                                    <a href="" class="sort-link">고가순</a>
                                </div>-->
                            </div>
                        </div>
                        <div class="product-list-section">
                            <div th:each="item : ${sellerDetailDto.getSellerItemDtoList()}" class="product-list">
                                <a th:href="@{/items/{itemId}(itemId=${item.getItemId()})}" class="product-item">
                                    <div class="product-image-wrapper">
                                        <img th:src="${item.getItemMainImg()}" width="194" height="194" alt="상품 이미지">
                                        <div class="shipping-info">
                                            <div th:if="${item.getDeliveryStatus().name() eq '포함'}" class="shipping-included">배송비포함</div>
                                        </div>
                                        <div th:if="${item.getDealStatus().name() eq '예약중'}" class="product-blind" th:text="예약중"></div>
                                        <div th:if="${item.getDealStatus().name() eq '거래완료'}" class="product-blind" th:text="판매완료"></div>
                                        <div class="product-info-temp"></div>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-title" th:text="${item.getItemTitle()}"></div>
                                        <div class="product-price-box">
                                            <div class="product-price" th:text="${item.getItemPrice()}"></div>

                                            <div class="time-posted"><span th:text="${item.getItemUpdateDate()}"></span></div>
                                        </div>
                                    </div>
                                    <div class="product-location">
                                        <img th:unless="${item.getItemAddress() eq ''}" src="/image/location_icon.png" width="15" height="17" alt="위치아이콘" th:text="${item.getItemAddress()}">
                                        <img th:if="${item.getItemAddress() eq ''}" src="/image/location_icon.png" width="15" height="17" alt="위치아이콘" th:text="${item.getItemAddress()} + '지역정보 없음'">
                                    </div>
                                </a>
                            </div>
                        </div>
<!--                        <div class="load-more">
                            <button class="load-more-button">
                                <div class="load-more-title">상품 더보기</div>
                            </button>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: company">기업설명부분</div>
</body>
</html>