*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR";
    font-size: 14px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 0px;
    font-family: inherit;
    font-size: 100%;
}

.bTfWtu {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gezxLR {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    height: 40px;
    background: rgb(255, 255, 255);
}

.dDTfxq {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: rgb(102, 102, 102);
    padding: 0px 15px;
    position: relative;
    line-height: 1.4;
}

.fxYqEy {
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 35px;
    background: rgb(255, 255, 255);
    z-index: 10;
    border-bottom: 1px solid rgb(238, 238, 238);
    top: 0px;
    left: 0px;
}

.ciqSeg {
    width: 1024px;
    display: flex;
    flex-direction: column;
}

.kPWKwK {
    width: 1024px;
    height: 40px;
    display: flex;
    align-items: center;
}

.bNjUuQ {
    margin-right: 100px;
    width: 136px;
    display: flex;
    align-items: center;
}

.keyjxL {
    border: 2px solid #4eb006;
    width: 460px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
}

.voMyM {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 15px;
}

.cLfdog {
    color: rgb(102, 102, 102);
    flex-grow: 1;
    outline: none;
    border: 0px;
    font-size: 100%;
}

.eLTnVY {
    position: absolute;
    top: 48px;
    left: 0px;
    width: 100%;
    border: 1px solid rgb(217, 217, 217);
    background: rgb(255, 255, 255);
    z-index: 10;
    display: none;
}

.itpniM {
    padding: 0px 15px;
}

.ciUXLo {
    display: flex;
}

.drHLIP {
    padding: 25px 0px 10px;
    flex-grow: 1;
    border-bottom: 2px solid #4eb006;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    color: #4eb006;
    border-top-color: #4eb006;
    border-right-color: #4eb006;
    border-left-color: #4eb006;
}

.kFQETw {
    padding: 25px 0px 10px;
    flex-grow: 1;
    border-bottom: 2px solid rgb(217, 217, 217);
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
}

.hrnQvW {
    height: 360px;
    overflow: hidden;
}

.bjRZEU {
    height: 100%;
}

.aVCiY {
    height: 100%;
}

.bCNTNM {
    padding: 20px 0px;
}

.fcMDtU {
    display: flex;
    height: 37px;
    padding-left: 12px;
    justify-content: space-between;
    align-items: center;
}

.gUWbGN {
    padding: 0px 12px;
    height: 100%;
}

.elSlBk {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(136, 136, 136);
    display: none;
}

.cyJDDk {
    height: 100%;
    display: none;
}

.fotdmu {
    padding: 20px 12px;
    display: flex;
    height: 100%;
}

.jGugdc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blDWNR {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.iLGrCE {
    width: 35px;
    font-weight: 700;
    color: #4eb006;
}

.gMLmJs {
    display: none;
    height: 410px;
    overflow: hidden;
}

.gTRpPy {
    padding: 10px 0px 6px;
    border-bottom: 1px solid rgb(249, 249, 249);
}

.ijDrhz {
    display: none;
}

.etqSPq {
    display: flex;
    align-items: center;
    padding: 10px 25px;
}

.ipaMvp {
    color: #4eb006;
    margin: 0px 5px;
}

.hqmWcJ {
    color: rgb(136, 136, 136);
}

.gHFnNA {
    display: block;
    padding: 10px 0px;
}

.bNSExK {
    width: 100%;
    height: 40px;
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 25px;
}

.iotYfC {
    color: rgb(179, 179, 179);
}

.bprumR {
    font-size: 13px;
    color: rgb(179, 179, 179);
}

.eqbkiv {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-grow: 1;
    font-size: 1.1em;
}

.foChwP, .BltZS {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.foChwP > i {
    margin-right: 2px;
}

.gwGdGE {
    height: 70px;
    display: flex;
    align-items: center;
}

.gIJOQQ {
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
}

.vertical-menu {
    display: none;
    position: absolute;
    top: 2.5em;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    z-index: 1000;
    border: 1px solid #ddd;
}

.vertical-menu a {
    padding: 12px 16px;
    display: block;
    width: 150px;
}

.vertical-menu a:hover {
    background-color: #f1f1f1;
}

.eQLFCF {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
}

.dhPGqV {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
}

.gDhHUm {
    height: 65px;
    width: 1024px;
    display: flex;
    align-items: center;
}

.gDhHUm > a:first-child {
    padding-left: 0px;
}

.gDhHUm > a {
    padding: 0px 25px;
    text-align: center;
}

.gOfbwl {
    display: block;
    font-size: 13px;
    color: rgb(51, 51, 51);
    position: relative;
}

.cJrJVo {
    padding: 40px 0px 45px;
}

.lgTVbs {
    width: 1024px;
    display: flex;
}

.bmDhSg {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bmDhSg > div:first-child {
    margin-top: 0px;
}

.bmDhSg > div {
    margin-top: 16px;
}

.jSuVsI {
    width: 100%;
}

.jykViS {
    font-weight: bold;
    font-size: 14px;
    color: rgb(102, 102, 102);
}

.eJUxMW {
    margin-top: 0.5rem;
    line-height: 2;
    font-size: 12px;
    color: rgb(127, 127, 127);
}

.eJUxMW a {
    white-space: nowrap;
    text-decoration: underline;
    color: rgb(127, 127, 127);
}

.fhmeEc {
    display: flex;
    flex-direction: column;
}

.fhmeEc > :first-child {
    margin-top: 0px;
}

.fhmeEc > * {
    margin-top: 6px;
}

.KrYIY {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.KrYIY > div:first-child {
    margin-top: 0px;
}

.KrYIY > div {
    margin-top: 40px;
}

.eJUxMW strong {
    font-size: 25px;
    line-height: 1;
    color: rgb(102, 102, 102);
}

.cBHbuI {
    display: flex;
}

.cBHbuI a {
    margin-right: 10px;
}

.cBHbuI a:last-child {
    margin-right: 0px;
}

.eJUxMW .rights-copy {
    margin-top: 0.5rem;
    color: rgb(140, 140, 140);
}

.doyOwb {
    border-top: 1px solid rgb(229, 229, 229);
    margin-top: 2.5rem;
    padding-top: 1rem;
    width: 1024px;
    display: flex;
    line-height: 1.5;
    font-size: 11px;
}

.hhUhqm {
    display: flex;
    color: rgb(140, 140, 140);
}

.jKCPMW {
    color: rgb(140, 140, 140);
}
